.navbar {
    display: flex;
    justify-content: space-between;
    padding: 28px 20px;
    align-items: center;

    > div {
        width: 33.3%;
    }

    &__menu {
        display: flex;
        justify-content: left;
        align-items: center;

        &__items {
            font-size: 15px;
            padding: 0 20px;

            a {
                color: #000;
                text-decoration: none;
                letter-spacing: 0.15em;
                display: inline-block;
                position: relative;
                padding: 0 0 3px;
              }
              a:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #000;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
              }
              a:hover:after { 
                width: 100%; 
                left: 0; 
              }
              
              

        }
    }

    &__ultilities {
        display: flex;
        justify-content: right;

        > div {
            width: 5%;
            margin: 0 5px;
        }
    }

    &__logo {
        img {
            height: 20px;
            width: auto;
        }
    }
}